*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-image: url(images/fondo.png);    
}
.header{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: black;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}
.nav{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   
}
.navList{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navItem{
    display:inline-block;
}
.navLink {
    color: white;
    display: block;
    padding: 20px 60px;
    text-decoration: none;   
}
.navLink:hover{
    background-color: rgb(41, 11, 214);
}
.navLink:active{
    background-color: rgb(40, 116, 230);
}
main{
    padding: 59px;
}
.logo{
    width: 500px;
}
.mCarrousel{
    display: flex;
    flex-wrap:wrap-reverse;
}
.mCarrouselList{
    list-style: none;
    flex:  25%;
    padding: 3px;
}
.carrousel{
    width: 100%;
}
.textImg{ 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;  
    letter-spacing: 2px;
    word-spacing: 6px;
    font-size: 14px; 
    line-height: 20px; 
}
.mGaleryList{
    display: flex;
    flex-wrap:wrap;
}
.mGaleryItem{
    list-style: none;
    flex:  25%;
    padding: 3px;
}

.mGaleryImg{
    width: 100%;   
}
.logoVideo{
    width: 560px;
}
.lavanda{
    width: 560px;;
    height: 400px;
}
.form{
    width: 550px;
    margin: auto;
    background: rgba(0, 0, 0,0.4);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
}
.h2Contact{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}
.formNote{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1rem;
    
}
.formName, .formMail, .formPhone, .formText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 7px;
    width: 100%;
}
#send{
    background: rgb(11, 15, 216);
    padding:10px;
    width: 100%;
}
#send:hover{
    background: rgb(37, 37, 255);
}
.copyright {
	font-family:Verdana, Geneva, sans-serif;
}







